@import "../../less/uikit.master.less";

.tm-offcanvas-bar{
    left: 0px;
    top: 0px;
    z-index: 999;
}

.tm-offcanvas{
    #uk-library > .transition(all 0.5s);
    left: 0;
    top: 0;
    bottom: 0;
    width: 0px;
    height: 100vh;
    overflow: hidden;
}

.tm-offcanvas-not-expanded{
    .esri-search{
        .uk-hidden;
    }
}

.esri-ui-top-left {
    margin-top: 42px;
}

.tm-form{
    margin-bottom: 25px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    input{
        padding-left: 20px;
        border: none;
        width: 100%;
        height: 30px;
        #uk-library > .border-radius(500px);
        margin-left: -10px;
    }
}

.tm-content{
    width: 290px;
    padding: 25px;

    & > div + div{
        margin-top: 25px;
    }

    h2{
        font-size: 20px; line-height: 24px;
        color: #ccc;
    }

    p{
        color: #fff;
        font-size: 16px; line-height: 20px;
    }

    .tm-list{
        list-style-type: none;
        padding: 0;
        & > li + li {
            border-top: 1px solid #444;
        }

        & > li{
            padding: 10px;
            padding-right: 20px;
            color: #fff;
            font-size: 16px; line-height: 20px;
            border-bottom: 1px solid #000;
            position: relative;
            a{
                position: absolute;
                right: 5px;
                top: 50%;
                #uk-library > .translate(0, -50%);
                color: lighten(#D02E1F, 15%);
                &:hover{
                    color: #D02E1F;
                    text-decoration: none;
                }
            }
        }

        & > li:last-child{
            border-bottom: none;
        }
    }
}

.esri-search{
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    #uk-library > .border-radius(500px);

    .esri-search__container{
        width: 240px !important;
    }
    
    .esri-input, .esri-search__submit-button{
        #uk-library > .border-radius(500px);
    }

    .esri-input{
        padding-left: 20px;
    }
}

.tm-offcanvas-expand{
    width: 330px;
    background-color: #222;
    .tm-burger{
        left: 345px !important;
    }
}

.tm-burger{
    position: absolute;
    #uk-library > .transition(all 0.5s);
    left: 15px;
    top: 15px;
    height: 32px;
    width: 32px;
}

.tm-close-offcanvas{
    padding: 0;
    height: 100%;
    background-color: #777;
    line-height: 20px;
    text-align: center;

    .tm-svg{
        height: 20px;
        width: 20px;
    }

    a{
        height: 40px; width: 40px;
        min-height: 40px; line-height: 40px;
        display: block;
        &.tm-active,
        &:hover{
            background-color: #aaa;
        }
    }
}

.tm-link-burger{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 8px;
    background-color: #fff;
    .tm-svg{
        height: 16px;
        width: 16px;
    }

    &:hover{
      background-color: #f0f0f0;  
    }
}

.uk-button{
    font-size: 12px;
    min-height: 30px;
    line-height: 30px;
    color: #fff;
    #uk-library > .border-radius(500px);
    padding: 0;
    width: 115px;
    text-align: center;
    &:hover{
        color: #fff;
    }
}

.tm-button-guardar{
    background: #008046 !important;
    &:hover{
        background: lighten(#008046, 15%) !important;
    }
}

.tm-button-cancelar{
    background: #D02E1F !important;
    &:hover{
        background: lighten(#D02E1F, 15%) !important;
    }

}

.placeholder {
  background-color: #333333;
  height: 21px;
}
